# Set the XTERM foreground and background colors 
# See source for more information: https://wiki.archlinux.org/title/Xterm#Colors)
*foreground: rgb:24/24/24
*background: rgb:00/00/00
XTerm.vt100.BorderWidth: 0
